name: CI

on: [push, pull_request]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Setup Node.js 12
        uses: actions/setup-node@v3
        with:
          node-version: 12

      - name: Cache pnpm modules
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Install dependencies
        uses: pnpm/action-setup@v2
        with:
          version: 6
          run_install: true

      - name: Check TypeScript files
        run: pnpm run check

      - name: Lint with ts-standard
        run: pnpm run lint

  package:
    name: Package
    runs-on: ubuntu-latest
    needs: [lint]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Setup Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Cache pnpm modules
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Install dependencies
        uses: pnpm/action-setup@v2
        with:
          version: 7
          run_install: true

      - name: Package action
        run: pnpm run package

      - name: Compare output
        run: |
          if [ "$(git diff --text --ignore-space-at-eol --ignore-cr-at-eol dist/ | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after build.  See status below:"
            git diff --text --ignore-space-at-eol --ignore-cr-at-eol
            exit 1
          fi

  test-action:
    name: Test on ${{ matrix.runner }}
    runs-on: ${{ matrix.runner }}
    needs: [package]

    strategy:
      matrix:
        runner: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - name: Checkout sources
      uses: actions/checkout@v3

    - name: Install next-rust-release-date
      uses: ./
      with:
        crate: next-rust-release-date
        version: 0.1
        args: --locked
        cache-key: test

    - name: Run next-rust-release-date
      run: next-rust-release-date
